@font-face {
	font-family : ttf;
	src: url(miscfb__.ttf);
	font-weight : bold;

}

html {
	display : block;
	background-color: #262626;
	font-family : ttf;
	font-size : 20px;
	color : #ffb5ab;
}

body {
	display : block;
	margin : 8px,
}

ul {
	padding-left : 0px;
}

li {

	list-style-type : none;
	line-height : 3ch;
	margin-top : 6px;

}

a {
	text-decoration: none;
	color: #ffb5ab;
}

a:active  {
	text-decoration: none;
	color: #ffb5ab;
}

a:hover {
	color: #ea897c;
}

a:active {
	color: #ea897c;
}

a:-webkit-any-link {
	cursor : pointer;
}

#center {
	text-align : center;
}

.task_bar {
	display : block;
	width : 50%;
	margin : 0 auto;
	overflow : hidden;
	line-height : 3ch;
}


.section {
	font-size : 1.0em;
	float : left;
	padding-right : 3ch;
	padding-bottom : 5px;
}

.c_title {
	padding-bottom : 10px;
	padding-top : 30px;
	font-size : 1.5em;
}

.content {
	width : 50%;
	font-size : 1.0em;
	display : block;
	margin : 0 auto;
	margin-top : 20px;
}

.r_content {
	margin : 0 auto;
	white-space : pre-line;
}

.c_img {
	width : 150px;
	position : relative;
	float : left;
	display : block;
	padding-right : 2em;
	padding-bottom : 2em;
	padding-top : 2em;
}

.c_img img {
	height : 150px;
}

.cr_title {
	white-space : pre-line;
	position : absolute;
	top : 200px;
	left : 10px;
}

.post_date {
	padding-right : 2ch;
}

@media only screen and (max-width: 600px) {

	.content, .task_bar {
		width : 90%
	}

	.c_content img {
		height : 100px;
	}
	
	.c_img {
		padding-bottom : 1.5em;
		padding-top : 1em;
	}
	
	.cr_title {
		top : 80%;
		left : 10%;
		font-size : 0.5em;
	}

}

#logo {
	width : 10%
}

#logo > img {
	padding-bottom : 10px;
	vertical-align : center;
}
